@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 345 10% 10%;
        --foreground: 345 2% 100%;
        --card: 345 2% 10%;
        --card-foreground: 345 2% 100%;
        --popover: 345 10% 5%;
        --popover-foreground: 345 2% 100%;
        --primary: 345 59% 35%;
        --primary-foreground: 0 0% 100%;
        --secondary: 345 10% 20%;
        --secondary-foreground: 0 0% 100%;
        --muted: 307 10% 25%;
        --muted-foreground: 345 2% 65%;
        --accent: 307 10% 25%;
        --accent-foreground: 345 2% 95%;
        --destructive: 0 50% 50%;
        --destructive-foreground: 345 2% 100%;
        --border: 345 20% 50%;
        --input: 345 20% 50%;
        --ring: 345 59% 35%;
        --radius: 0.75rem;
    }

    .default {
        --background: 345 10% 10%;
        --foreground: 345 2% 100%;
        --card: 345 2% 10%;
        --card-foreground: 345 2% 100%;
        --popover: 345 10% 5%;
        --popover-foreground: 345 2% 100%;
        --primary: 345 59% 35%;
        --primary-foreground: 0 0% 100%;
        --secondary: 345 10% 20%;
        --secondary-foreground: 0 0% 100%;
        --muted: 307 10% 25%;
        --muted-foreground: 345 2% 65%;
        --accent: 307 10% 25%;
        --accent-foreground: 345 2% 95%;
        --destructive: 0 50% 50%;
        --destructive-foreground: 345 2% 100%;
        --border: 345 20% 50%;
        --input: 345 20% 50%;
        --ring: 345 59% 35%;
        --radius: 0.75rem;
    }

    .dark-pink {
        --gradient: #e55d87;

        --background: -20 46.8% 5.04%;
        --foreground: -20 7.199999999999999% 98.15%;

        --muted: -20 36% 18.9%;
        --muted-foreground: -20 7.199999999999999% 56.3%;

        --popover: -20 50.6% 8.19%;
        --popover-foreground: -20 7.199999999999999% 98.15%;

        --card: -20 50.6% 8.19%;
        --card-foreground: -20 7.199999999999999% 98.15%;

        --border: -20 36% 18.9%;
        --input: -20 36% 18.9%;

        --primary: -20 72% 63%;
        --primary-foreground: -20 7.199999999999999% 6.3%;

        --secondary: -20 36% 18.9%;
        --secondary-foreground: -20 7.199999999999999% 98.15%;

        --accent: -20 36% 18.9%;
        --accent-foreground: -20 7.199999999999999% 98.15%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: -20 7.199999999999999% 98.15%;

        --ring: -20 72% 63%;
        --radius: 0.75rem;
    }

    .midnight-blue {
        /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

        /* CSS: .bg-gradient { background: var(--gradient) } */
        --gradient: #000c40;
        --background: 243 100% 98.26%;
        --foreground: 243 10% 0.52%;

        --muted: 243 10% 91.3%;
        --muted-foreground: 243 5% 41.3%;

        --popover: 243 10% 91.3%;
        --popover-foreground: 243 10% 0.65%;

        --card: 243 10% 91.3%;
        --card-foreground: 243 10% 0.65%;

        --border: 243 15% 89.52%;
        --input: 243 15% 89.52%;

        --primary: 243 100% 13%;
        --primary-foreground: 243 2% 91.3%;

        --secondary: 243 5% 95.65%;
        --secondary-foreground: 243 7% 11.3%;

        --accent: 243 5% 95.65%;
        --accent-foreground: 243 7% 11.3%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --ring: 243 100% 13%;

        --radius: 0.75rem;
    }

    .aspargus-green {
        --gradient: linear-gradient(to top left, #215f00, #e4e4d9);
        --background: 105 100% 98.38%;
        --foreground: 105 10% 0.76%;

        --muted: 105 10% 91.9%;
        --muted-foreground: 105 5% 41.9%;

        --popover: 105 10% 91.9%;
        --popover-foreground: 105 10% 0.95%;

        --card: 105 10% 91.9%;
        --card-foreground: 105 10% 0.95%;

        --border: 105 15% 89.76%;
        --input: 105 15% 89.76%;

        --primary: 105 100% 19%;
        --primary-foreground: 105 2% 91.9%;

        --secondary: 105 5% 95.95%;
        --secondary-foreground: 105 7% 11.9%;

        --accent: 105 5% 95.95%;
        --accent-foreground: 105 7% 11.9%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --ring: 105 100% 19%;

        --radius: 0.75rem;
    }

    .lavender-mist {
        /* CSS: .bg-gradient { background: var(--gradient) } */
        --gradient: #ddd6f3;

        --background: 270 35.75% 7.12%;
        --foreground: 270 5.5% 99.45%;

        --muted: 270 27.500000000000004% 26.7%;
        --muted-foreground: 270 5.5% 58.9%;

        --popover: 270 54% 11.57%;
        --popover-foreground: 270 5.5% 99.45%;

        --card: 270 54% 11.57%;
        --card-foreground: 270 5.5% 99.45%;

        --border: 270 27.500000000000004% 26.7%;
        --input: 270 27.500000000000004% 26.7%;

        --primary: 270 55% 89%;
        --primary-foreground: 270 5.5% 8.9%;

        --secondary: 270 27.500000000000004% 26.7%;
        --secondary-foreground: 270 5.5% 99.45%;

        --accent: 270 27.500000000000004% 26.7%;
        --accent-foreground: 270 5.5% 99.45%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 270 5.5% 99.45%;

        --ring: 270 55% 89%;
        --radius: 0.75rem;
    }

    .mango-tango {
        --gradient: linear-gradient(to top left, #fd8112, #0085ca);

        --background: 30 63.699999999999996% 4.24%;
        --foreground: 30 9.8% 97.65%;

        --muted: 30 49% 15.9%;
        --muted-foreground: 30 9.8% 55.3%;

        --popover: 30 45.4% 6.890000000000001%;
        --popover-foreground: 30 9.8% 97.65%;

        --card: 30 45.4% 6.890000000000001%;
        --card-foreground: 30 9.8% 97.65%;

        --border: 30 49% 15.9%;
        --input: 30 49% 15.9%;

        --primary: 30 98% 53%;
        --primary-foreground: 30 9.8% 5.300000000000001%;

        --secondary: 30 49% 15.9%;
        --secondary-foreground: 30 9.8% 97.65%;

        --accent: 30 49% 15.9%;
        --accent-foreground: 30 9.8% 97.65%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 30 9.8% 97.65%;

        --ring: 30 98% 53%;
        --radius: 0.75rem;
    }

    .walnut-brown {
        --gradient: linear-gradient(to top left, #603813, #b29f94);
        --background: 31 98.35% 98.46%;
        --foreground: 31 6.7% 0.92%;

        --muted: 31 6.7% 92.3%;
        --muted-foreground: 31 3.35% 42.3%;

        --popover: 31 36.4% 92.3%;
        --popover-foreground: 31 6.7% 1.1500000000000001%;

        --card: 31 36.4% 92.3%;
        --card-foreground: 31 6.7% 1.1500000000000001%;

        --border: 31 11.7% 89.92%;
        --input: 31 11.7% 89.92%;

        --primary: 31 67% 23%;
        --primary-foreground: 31 1.34% 92.3%;

        --secondary: 31 3.35% 96.15%;
        --secondary-foreground: 31 5.0200000000000005% 12.3%;

        --accent: 31 3.35% 96.15%;
        --accent-foreground: 31 5.0200000000000005% 12.3%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --ring: 31 67% 23%;

        --radius: 0.75rem;
    }

    .dark-chocolate {
        /* CSS: .bg-gradient { background: var(--gradient) } */
        --gradient: #fdfcfb;

        --background: 32 21.45% 7.92%;
        --foreground: 32 3.3000000000000003% 99.95%;

        --muted: 32 16.5% 29.7%;
        --muted-foreground: 32 3.3000000000000003% 59.9%;

        --popover: 32 58.4% 12.87%;
        --popover-foreground: 32 3.3000000000000003% 99.95%;

        --card: 32 58.4% 12.87%;
        --card-foreground: 32 3.3000000000000003% 99.95%;

        --border: 32 16.5% 29.7%;
        --input: 32 16.5% 29.7%;

        --primary: 32 33% 99%;
        --primary-foreground: 32 3.3000000000000003% 9.9%;

        --secondary: 32 16.5% 29.7%;
        --secondary-foreground: 32 3.3000000000000003% 99.95%;

        --accent: 32 16.5% 29.7%;
        --accent-foreground: 32 3.3000000000000003% 99.95%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 32 3.3000000000000003% 99.95%;

        --ring: 32 33% 99%;
        --radius: 0.75rem;
    }

    .blush-pink {
        --gradient: linear-gradient(to top left, #000000, #434343);
        --background: 0 95% 98%;
        --foreground: 0 0% 0%;

        --muted: 0 0% 90%;
        --muted-foreground: 0 0% 40%;

        --popover: 0 90% 90%;
        --popover-foreground: 0 0% 0%;

        --card: 0 90% 90%;
        --card-foreground: 0 0% 0%;

        --border: 0 5% 89%;
        --input: 0 5% 89%;

        --primary: 0 0% 0%;
        --primary-foreground: 0 0% 90%;

        --secondary: 0 0% 95%;
        --secondary-foreground: 0 1% 10%;

        --accent: 0 0% 95%;
        --accent-foreground: 0 1% 10%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --ring: 0 0% 0%;

        --radius: 0.75rem;
    }

    .oxford-blue {
        --gradient: linear-gradient(to top left, #091e3a, #2f80ed, #2d9ee0);
        --background: 228 98.65% 98.26%;
        --foreground: 228 7.3% 0.52%;

        --muted: 228 7.3% 91.3%;
        --muted-foreground: 228 3.65% 41.3%;

        --popover: 228 31.6% 91.3%;
        --popover-foreground: 228 7.3% 0.65%;

        --card: 228 31.6% 91.3%;
        --card-foreground: 228 7.3% 0.65%;

        --border: 228 12.3% 89.52%;
        --input: 228 12.3% 89.52%;

        --primary: 228 73% 13%;
        --primary-foreground: 228 1.46% 91.3%;

        --secondary: 228 3.65% 95.65%;
        --secondary-foreground: 228 5.38% 11.3%;

        --accent: 228 3.65% 95.65%;
        --accent-foreground: 228 5.38% 11.3%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --ring: 228 73% 13%;

        --radius: 0.75rem;
    }

    .charcoal-blue {
        --gradient: linear-gradient(to top left, #314755, #26a0da);

        --background: 216 17.55% 2.08%;
        --foreground: 216 2.7% 96.3%;

        --muted: 216 13.5% 7.800000000000001%;
        --muted-foreground: 216 2.7% 52.6%;

        --popover: 216 59.6% 3.38%;
        --popover-foreground: 216 2.7% 96.3%;

        --card: 216 59.6% 3.38%;
        --card-foreground: 216 2.7% 96.3%;

        --border: 216 13.5% 7.800000000000001%;
        --input: 216 13.5% 7.800000000000001%;

        --primary: 216 27% 26%;
        --primary-foreground: 216 2.7% 96.3%;

        --secondary: 216 13.5% 7.800000000000001%;
        --secondary-foreground: 216 2.7% 96.3%;

        --accent: 216 13.5% 7.800000000000001%;
        --accent-foreground: 216 2.7% 96.3%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 216 2.7% 96.3%;

        --ring: 216 27% 26%;
        --radius: 0.75rem;
    }

    .ultra-pink {
        --gradient: linear-gradient(to top left, #f857a6, #ff5858);

        --background: -31 59.800000000000004% 5.28%;
        --foreground: -31 9.200000000000001% 98.3%;

        --muted: -31 46% 19.8%;
        --muted-foreground: -31 9.200000000000001% 56.6%;

        --popover: -31 46.599999999999994% 8.58%;
        --popover-foreground: -31 9.200000000000001% 98.3%;

        --card: -31 46.599999999999994% 8.58%;
        --card-foreground: -31 9.200000000000001% 98.3%;

        --border: -31 46% 19.8%;
        --input: -31 46% 19.8%;

        --primary: -31 92% 66%;
        --primary-foreground: -31 9.200000000000001% 6.6000000000000005%;

        --secondary: -31 46% 19.8%;
        --secondary-foreground: -31 9.200000000000001% 98.3%;

        --accent: -31 46% 19.8%;
        --accent-foreground: -31 9.200000000000001% 98.3%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: -31 9.200000000000001% 98.3%;

        --ring: -31 92% 66%;
        --radius: 0.75rem;
    }

    .vivid-red {
        --gradient: linear-gradient(to top left, #f00000, #dc281e);

        --background: 0 65% 3.76%;
        --foreground: 0 10% 97.35%;

        --muted: 0 50% 14.1%;
        --muted-foreground: 0 10% 54.7%;

        --popover: 0 45% 6.109999999999999%;
        --popover-foreground: 0 10% 97.35%;

        --card: 0 45% 6.109999999999999%;
        --card-foreground: 0 10% 97.35%;

        --border: 0 50% 14.1%;
        --input: 0 50% 14.1%;

        --primary: 0 100% 47%;
        --primary-foreground: 0 10% 4.699999999999999%;

        --secondary: 0 50% 14.1%;
        --secondary-foreground: 0 10% 97.35%;

        --accent: 0 50% 14.1%;
        --accent-foreground: 0 10% 97.35%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 10% 97.35%;

        --ring: 0 100% 47%;
        --radius: 0.75rem;
    }

    .pastel-green {
        /* CSS: .bg-gradient { background: var(--gradient) } */
        --gradient: #c1dfc4;

        --background: 134 20.8% 6.56%;
        --foreground: 134 3.2% 99.1%;

        --muted: 134 16% 24.599999999999998%;
        --muted-foreground: 134 3.2% 58.2%;

        --popover: 134 58.6% 10.66%;
        --popover-foreground: 134 3.2% 99.1%;

        --card: 134 58.6% 10.66%;
        --card-foreground: 134 3.2% 99.1%;

        --border: 134 16% 24.599999999999998%;
        --input: 134 16% 24.599999999999998%;

        --primary: 134 32% 82%;
        --primary-foreground: 134 3.2% 8.2%;

        --secondary: 134 16% 24.599999999999998%;
        --secondary-foreground: 134 3.2% 99.1%;

        --accent: 134 16% 24.599999999999998%;
        --accent-foreground: 134 3.2% 99.1%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 134 3.2% 99.1%;

        --ring: 134 32% 82%;
        --radius: 0.75rem;
    }

    .bg-gradient {
        background: var(--gradient);
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply text-foreground;
    }
}
