@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --gradient: #c1dfc4;

        --background: 134 20.8% 6.56%;
        --foreground: 134 3.2% 99.1%;

        --muted: 134 16% 24.599999999999998%;
        --muted-foreground: 134 3.2% 58.2%;

        --popover: 134 58.6% 10.66%;
        --popover-foreground: 134 3.2% 99.1%;

        --card: 134 58.6% 10.66%;
        --card-foreground: 134 3.2% 99.1%;

        --border: 134 16% 24.599999999999998%;
        --input: 134 16% 24.599999999999998%;

        --primary: 134 32% 82%;
        --primary-foreground: 134 3.2% 8.2%;

        --secondary: 134 16% 24.599999999999998%;
        --secondary-foreground: 134 3.2% 99.1%;

        --accent: 134 16% 24.599999999999998%;
        --accent-foreground: 134 3.2% 99.1%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 134 3.2% 99.1%;

        --ring: 134 32% 82%;
        --radius: 0.75rem;
    }

    .default {
        --gradient: #c1dfc4;

        --background: 134 20.8% 6.56%;
        --foreground: 134 3.2% 99.1%;

        --muted: 134 16% 24.599999999999998%;
        --muted-foreground: 134 3.2% 58.2%;

        --popover: 134 58.6% 10.66%;
        --popover-foreground: 134 3.2% 99.1%;

        --card: 134 58.6% 10.66%;
        --card-foreground: 134 3.2% 99.1%;

        --border: 134 16% 24.599999999999998%;
        --input: 134 16% 24.599999999999998%;

        --primary: 134 32% 82%;
        --primary-foreground: 134 3.2% 8.2%;

        --secondary: 134 16% 24.599999999999998%;
        --secondary-foreground: 134 3.2% 99.1%;

        --accent: 134 16% 24.599999999999998%;
        --accent-foreground: 134 3.2% 99.1%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 134 3.2% 99.1%;

        --ring: 134 32% 82%;
        --radius: 0.75rem;
    }

    .midnight-blue {
        /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

        /* CSS: .bg-gradient { background: var(--gradient) } */
        --gradient: #000c40;
        --background: 243 100% 98.26%;
        --foreground: 243 10% 0.52%;

        --muted: 243 10% 91.3%;
        --muted-foreground: 243 5% 41.3%;

        --popover: 243 10% 91.3%;
        --popover-foreground: 243 10% 0.65%;

        --card: 243 10% 91.3%;
        --card-foreground: 243 10% 0.65%;

        --border: 243 15% 89.52%;
        --input: 243 15% 89.52%;

        --primary: 243 100% 13%;
        --primary-foreground: 243 2% 91.3%;

        --secondary: 243 5% 95.65%;
        --secondary-foreground: 243 7% 11.3%;

        --accent: 243 5% 95.65%;
        --accent-foreground: 243 7% 11.3%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --ring: 243 100% 13%;

        --radius: 0.75rem;
    }

    .aspargus-green {
        --gradient: linear-gradient(to top left, #215f00, #e4e4d9);
        --background: 105 100% 98.38%;
        --foreground: 105 10% 0.76%;

        --muted: 105 10% 91.9%;
        --muted-foreground: 105 5% 41.9%;

        --popover: 105 10% 91.9%;
        --popover-foreground: 105 10% 0.95%;

        --card: 105 10% 91.9%;
        --card-foreground: 105 10% 0.95%;

        --border: 105 15% 89.76%;
        --input: 105 15% 89.76%;

        --primary: 105 100% 19%;
        --primary-foreground: 105 2% 91.9%;

        --secondary: 105 5% 95.95%;
        --secondary-foreground: 105 7% 11.9%;

        --accent: 105 5% 95.95%;
        --accent-foreground: 105 7% 11.9%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --ring: 105 100% 19%;

        --radius: 0.75rem;
    }

    .lavender-mist {
        /* CSS: .bg-gradient { background: var(--gradient) } */
        --gradient: #ddd6f3;

        --background: 270 35.75% 7.12%;
        --foreground: 270 5.5% 99.45%;

        --muted: 270 27.500000000000004% 26.7%;
        --muted-foreground: 270 5.5% 58.9%;

        --popover: 270 54% 11.57%;
        --popover-foreground: 270 5.5% 99.45%;

        --card: 270 54% 11.57%;
        --card-foreground: 270 5.5% 99.45%;

        --border: 270 27.500000000000004% 26.7%;
        --input: 270 27.500000000000004% 26.7%;

        --primary: 270 55% 89%;
        --primary-foreground: 270 5.5% 8.9%;

        --secondary: 270 27.500000000000004% 26.7%;
        --secondary-foreground: 270 5.5% 99.45%;

        --accent: 270 27.500000000000004% 26.7%;
        --accent-foreground: 270 5.5% 99.45%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 270 5.5% 99.45%;

        --ring: 270 55% 89%;
        --radius: 0.75rem;
    }

    .pastel-blue {
        --gradient: #132747;
        --background: 230 97.9% 98.36%;
        --foreground: 230 5.8% 0.72%;
    
        --muted: 230 5.8% 91.8%;
        --muted-foreground: 230 2.9% 41.8%;
    
        --popover: 230 43.6% 91.8%;
        --popover-foreground: 230 5.8% 0.8999999999999999%;
    
        --card: 230 43.6% 91.8%;
        --card-foreground: 230 5.8% 0.8999999999999999%;
    
        --border: 230 10.8% 89.72%;
        --input: 230 10.8% 89.72%;
    
        --primary: 230 58% 18%;
        --primary-foreground: 230 1.16% 91.8%;
    
        --secondary: 230 2.9% 95.9%;
        --secondary-foreground: 230 4.4799999999999995% 11.8%;
    
        --accent: 230 2.9% 95.9%;
        --accent-foreground: 230 4.4799999999999995% 11.8%;
    
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
    
        --ring: 230 58% 18%;
    
        --radius: 0.75rem;
    }

    .walnut-brown {
        --gradient: linear-gradient(to top left, #603813, #b29f94);
        --background: 31 98.35% 98.46%;
        --foreground: 31 6.7% 0.92%;

        --muted: 31 6.7% 92.3%;
        --muted-foreground: 31 3.35% 42.3%;

        --popover: 31 36.4% 92.3%;
        --popover-foreground: 31 6.7% 1.1500000000000001%;

        --card: 31 36.4% 92.3%;
        --card-foreground: 31 6.7% 1.1500000000000001%;

        --border: 31 11.7% 89.92%;
        --input: 31 11.7% 89.92%;

        --primary: 31 67% 23%;
        --primary-foreground: 31 1.34% 92.3%;

        --secondary: 31 3.35% 96.15%;
        --secondary-foreground: 31 5.0200000000000005% 12.3%;

        --accent: 31 3.35% 96.15%;
        --accent-foreground: 31 5.0200000000000005% 12.3%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --ring: 31 67% 23%;

        --radius: 0.75rem;
    }

    .dark-chocolate {
        /* CSS: .bg-gradient { background: var(--gradient) } */
        --gradient: #fdfcfb;

        --background: 32 21.45% 7.92%;
        --foreground: 32 3.3000000000000003% 99.95%;

        --muted: 32 16.5% 29.7%;
        --muted-foreground: 32 3.3000000000000003% 59.9%;

        --popover: 32 58.4% 12.87%;
        --popover-foreground: 32 3.3000000000000003% 99.95%;

        --card: 32 58.4% 12.87%;
        --card-foreground: 32 3.3000000000000003% 99.95%;

        --border: 32 16.5% 29.7%;
        --input: 32 16.5% 29.7%;

        --primary: 32 33% 99%;
        --primary-foreground: 32 3.3000000000000003% 9.9%;

        --secondary: 32 16.5% 29.7%;
        --secondary-foreground: 32 3.3000000000000003% 99.95%;

        --accent: 32 16.5% 29.7%;
        --accent-foreground: 32 3.3000000000000003% 99.95%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 32 3.3000000000000003% 99.95%;

        --ring: 32 33% 99%;
        --radius: 0.75rem;
    }

    .blush-pink {
        --gradient: linear-gradient(to top left, #000000, #434343);
        --background: 0 95% 98%;
        --foreground: 0 0% 0%;

        --muted: 0 0% 90%;
        --muted-foreground: 0 0% 40%;

        --popover: 0 90% 90%;
        --popover-foreground: 0 0% 0%;

        --card: 0 90% 90%;
        --card-foreground: 0 0% 0%;

        --border: 0 5% 89%;
        --input: 0 5% 89%;

        --primary: 0 0% 0%;
        --primary-foreground: 0 0% 90%;

        --secondary: 0 0% 95%;
        --secondary-foreground: 0 1% 10%;

        --accent: 0 0% 95%;
        --accent-foreground: 0 1% 10%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --ring: 0 0% 0%;

        --radius: 0.75rem;
    }

    .oxford-blue {
        --gradient: linear-gradient(to top left, #091e3a, #2f80ed, #2d9ee0);
        --background: 228 98.65% 98.26%;
        --foreground: 228 7.3% 0.52%;

        --muted: 228 7.3% 91.3%;
        --muted-foreground: 228 3.65% 41.3%;

        --popover: 228 31.6% 91.3%;
        --popover-foreground: 228 7.3% 0.65%;

        --card: 228 31.6% 91.3%;
        --card-foreground: 228 7.3% 0.65%;

        --border: 228 12.3% 89.52%;
        --input: 228 12.3% 89.52%;

        --primary: 228 73% 13%;
        --primary-foreground: 228 1.46% 91.3%;

        --secondary: 228 3.65% 95.65%;
        --secondary-foreground: 228 5.38% 11.3%;

        --accent: 228 3.65% 95.65%;
        --accent-foreground: 228 5.38% 11.3%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --ring: 228 73% 13%;

        --radius: 0.75rem;
    }

    .pale-rose {
        --gradient: #631111;
        --background: 0 98.55% 98.46%;
        --foreground: 0 7.1% 0.92%;
    
        --muted: 0 7.1% 92.3%;
        --muted-foreground: 0 3.55% 42.3%;
    
        --popover: 0 33.2% 92.3%;
        --popover-foreground: 0 7.1% 1.1500000000000001%;
    
        --card: 0 33.2% 92.3%;
        --card-foreground: 0 7.1% 1.1500000000000001%;
    
        --border: 0 12.1% 89.92%;
        --input: 0 12.1% 89.92%;
    
        --primary: 0 71% 23%;
        --primary-foreground: 0 1.42% 92.3%;
    
        --secondary: 0 3.55% 96.15%;
        --secondary-foreground: 0 5.26% 12.3%;
    
        --accent: 0 3.55% 96.15%;
        --accent-foreground: 0 5.26% 12.3%;
    
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
    
        --ring: 0 71% 23%;
    
        --radius: 0.75rem;
    }

    .ultra-pink {
        --gradient: #d9a7c7;

        --background: -41 26% 6%;
        --foreground: -41 4% 98.75%;

        --muted: -41 20% 22.5%;
        --muted-foreground: -41 4% 57.5%;

        --popover: -41 57% 9.75%;
        --popover-foreground: -41 4% 98.75%;

        --card: -41 57% 9.75%;
        --card-foreground: -41 4% 98.75%;

        --border: -41 20% 22.5%;
        --input: -41 20% 22.5%;

        --primary: -41 40% 75%;
        --primary-foreground: -41 4% 7.5%;

        --secondary: -41 20% 22.5%;
        --secondary-foreground: -41 4% 98.75%;

        --accent: -41 20% 22.5%;
        --accent-foreground: -41 4% 98.75%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: -41 4% 98.75%;

        --ring: -41 40% 75%;
        --radius: 0.75rem;
    }

    .dark-cyan {
        /* Name: custom color palette
           Author: Ilias Ism
           URL: https://gradient.page */

        /* CSS: .bg-gradient { background: var(--gradient) } */
        --gradient: #4ecdc4;

        --background: 187 36.400000000000006% 4.48%;
        --foreground: 187 5.6000000000000005% 97.8%;

        --muted: 187 28.000000000000004% 16.8%;
        --muted-foreground: 187 5.6000000000000005% 55.6%;

        --popover: 187 53.8% 7.280000000000001%;
        --popover-foreground: 187 5.6000000000000005% 97.8%;

        --card: 187 53.8% 7.280000000000001%;
        --card-foreground: 187 5.6000000000000005% 97.8%;

        --border: 187 28.000000000000004% 16.8%;
        --input: 187 28.000000000000004% 16.8%;

        --primary: 187 56% 56%;
        --primary-foreground: 187 5.6000000000000005% 5.6000000000000005%;

        --secondary: 187 28.000000000000004% 16.8%;
        --secondary-foreground: 187 5.6000000000000005% 97.8%;

        --accent: 187 28.000000000000004% 16.8%;
        --accent-foreground: 187 5.6000000000000005% 97.8%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 187 5.6000000000000005% 97.8%;

        --ring: 187 56% 56%;
    }

    .bg-gradient {
        background: var(--gradient);
    }
}

@layer base {
    html {
        @apply scroll-smooth;
    }
    * {
        @apply border-border;
    }
    body {
        @apply text-foreground bg-background;
    }
}
